<a href="https://colab.research.google.com/github/tigrannh/Data-Science-ML-projects/blob/main/HospitalPatientsClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('hospital_train.csv')

In [ ]:
X_data = data.drop('Survived_1_year', axis=1)
X_data.head()

,ID_Patient_Care_Situation,Diagnosed_Condition,Patient_ID,Treated_with_drugs,Patient_Age,Patient_Body_Mass_Index,Patient_Smoker,Patient_Rural_Urban,Patient_mental_condition,A,B,C,D,E,F,Z,Number_of_prev_cond,Survived_1_year
0,26082,19,3525,DX3 DX4,49,18.996774,YES,RURAL,Stable,0.0,0.0,1.0,0.0,1.0,0.0,0.0,2.0,0
1,3935,2,11357,dx1 dx4,32,18.807999,YES,RURAL,Stable,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0
2,25150,45,10831,DX6,43,26.737058,NO,URBAN,Stable,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
3,6843,16,3726,dx6,9,21.950668,NO,RURAL,Stable,1.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,1
4,30965,30,3903,DX3 DX4,44,20.591655,YES,RURAL,Stable,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1

In [ ]:
data.shape

(22571, 18)

In [ ]:
y_data = data['Survived_1_year']
y_data

0        0
1        0
2        0
3        1
4        1
        ..
22566    0
22567    1
22568    0
22569    1
22570    1
Name: Survived_1_year, Length: 22571, dtype: int64

In [ ]:
test_data = pd.read_csv('hospital_test_X.csv')
test_data.head()

,ID_Patient_Care_Situation,Diagnosed_Condition,Patient_ID,Treated_with_drugs,Patient_Age,Patient_Body_Mass_Index,Patient_Smoker,Patient_Rural_Urban,Patient_mental_condition,A,B,C,D,E,F,Z,Number_of_prev_cond
0,3717,45,2776,Dx6,35,23.775226,YES,RURAL,Stable,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0
1,9298,18,834,DX1 DX5,47,18.404252,YES,RURAL,Stable,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0
2,17917,29,8234,DX3 DX5,64,27.828730,NO,URBAN,Stable,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,5626,52,5047,DX1,60,25.143488,YES,URBAN,Stable,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,307,19,4303,DX1 DX2 DX3 DX4,9,29.465496,NO,URBAN,Stable,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
X_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22571 entries, 0 to 22570
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_Patient_Care_Situation  22571 non-null  int64
 1   Diagnosed_Condition        22571 non-null  int64
 2   Patient_ID                 22571 non-null  int64
 3   Treated_with_drugs         22563 non-null  object
 4   Patient_Age                22571 non-null  int64
 5   Patient_Body_Mass_Index    22571 non-null  float64
 6   Patient_Smoker             22571 non-null  object
 7   Patient_Rural_Urban        22571 non-null  object
 8   Patient_mental_condition   22571 non-null  object
 9   A                          21355 non-null  float64
 10  B                          21355 non-null  float64
 11  C                          21355 non-null  float64
 12  D                          21355 non-null  float64
 13  E                          21355 non-null  float64
 14  F                          21355 non-null  float64
 15  Z                          21355 non-null  float64
 16  Number_of_prev_cond        21355 non-null  float64
dtypes: float64(9), int64(4), object(4)
memory usage: 2.9+ MB

In [ ]:
X_data.describe()

,ID_Patient_Care_Situation,Diagnosed_Condition,Patient_ID,Patient_Age,Patient_Body_Mass_Index,A,B,C,D,E,F,Z,Number_of_prev_cond
count,22571.000000,22571.000000,22571.000000,22571.000000,22571.000000,21355.000000,21355.000000,21355.000000,21355.000000,21355.000000,21355.000000,21355.000000,21355.000000
mean,16495.710115,26.407027,6236.037703,33.215764,23.444355,0.894123,0.135612,0.183329,0.084243,0.394428,0.053898,0.000375,1.746008
std,9561.987709,15.095786,3594.156258,19.510572,3.775350,0.307687,0.342384,0.386945,0.277758,0.488739,0.225822,0.019352,0.770534
min,1.000000,0.000000,1.000000,0.000000,1.089300,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,8170.500000,13.000000,3134.000000,16.000000,20.212114,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,16467.000000,26.000000,6234.000000,33.000000,23.372415,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,24808.500000,40.000000,9345.000000,50.000000,26.726534,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2.000000
max,33013.000000,52.000000,12514.000000,142.000000,29.999579,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000

In [ ]:
drugs = X_data['Treated_with_drugs'].apply(lambda x: str(x).lower().split(' '))
values = set()
for i in drugs:
    for j in i:
        values.add(j)
values

{'', 'dx1', 'dx2', 'dx3', 'dx4', 'dx5', 'dx6', 'nan'}

In [ ]:
set(test_data['Treated_with_drugs'].unique()).difference(X_data['Treated_with_drugs'].unique())

{'dx2 dx3 dx4 dx5'}

In [ ]:
X_data['Patient_Smoker'].unique()

array(['YES', 'NO ', 'NO', 'YES ', 'YESS', 'YESS ', 'CANNOT SAY',
       'Cannot say', 'CANNOT SAY ', 'Cannot say '], dtype=object)

In [ ]:
def changeDataset(X):
    for i in range(1,7):
        dx = f'dx{i}'
        X[dx] = X.Treated_with_drugs.fillna('0').str.contains(dx).astype(int)
    X.drop('Treated_with_drugs', axis=1, inplace=True)
    X.drop('Patient_ID', axis=1, inplace=True)
    X.drop('Number_of_prev_cond', axis=1, inplace=True)
    X.drop('Patient_mental_condition', axis=1, inplace=True)
    X['Patient_Smoker'] = X['Patient_Smoker'].str.strip().str.lower().replace('yess','yes')
    
    for col in X.columns:
        if X[col].dtype == 'object':
            X[col] = X[col].astype('category')

In [ ]:
changeDataset(X_data)
X_data

,ID_Patient_Care_Situation,Diagnosed_Condition,Patient_Age,Patient_Body_Mass_Index,Patient_Smoker,Patient_Rural_Urban,A,B,C,D,E,F,Z,dx1,dx2,dx3,dx4,dx5,dx6
0,26082,19,49,18.996774,yes,RURAL,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0,0,0,0,0,0
1,3935,2,32,18.807999,yes,RURAL,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1,0,0,1,0,0
2,25150,45,43,26.737058,no,URBAN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
3,6843,16,9,21.950668,no,RURAL,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0,0,0,0,0,1
4,30965,30,44,20.591655,yes,RURAL,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22566,11752,42,56,29.727765,yes,RURAL,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
22567,32797,52,41,21.222111,no,RURAL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1,0
22568,10129,44,62,23.841969,yes,URBAN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
22569,5831,11,33,20.058406,yes,URBAN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
22570,12106,50,16,17.715229,yes,RURAL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0

In [ ]:
X_data['Patient_Smoker'].unique()

['yes', 'no', 'cannot say']
Categories (3, object): ['cannot say', 'no', 'yes']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.15)
X_train.head()

,ID_Patient_Care_Situation,Diagnosed_Condition,Patient_Age,Patient_Body_Mass_Index,Patient_Smoker,Patient_Rural_Urban,A,B,C,D,E,F,Z,dx1,dx2,dx3,dx4,dx5,dx6
18781,3770,47,64,28.392171,no,RURAL,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,0,0
7663,21951,21,41,18.224139,no,URBAN,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0,0,0,0,0,0
4205,19469,39,0,20.919082,no,URBAN,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,0,0
5655,28542,36,34,26.853643,no,RURAL,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0,0
6839,7451,45,37,22.255117,no,URBAN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0

In [ ]:
!pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\lenovo\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\lenovo\anaconda3\lib\site-packages (from lightgbm) (0.24.2)
Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (from lightgbm) (1.20.3)
Requirement already satisfied: wheel in c:\users\lenovo\anaconda3\lib\site-packages (from lightgbm) (0.37.0)
Requirement already satisfied: scipy in c:\users\lenovo\anaconda3\lib\site-packages (from lightgbm) (1.7.1)
Requirement already satisfied: joblib>=0.11 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.2.0)

In [ ]:
import lightgbm as lgb

In [ ]:
clf = lgb.LGBMClassifier(n_estimators = 1000, learning_rate=0.1)
clf.fit(X_train, y_train)

LGBMClassifier(n_estimators=1000)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
predict = clf.predict(X_test)
print('test accuaracy score: ', accuracy_score(predict, y_test))
print('train accuarcy score: ', accuracy_score(clf.predict(X_train), y_train))

test accuaracy score:  0.7900177200236267
train accuarcy score:  0.9595517331248371

In [ ]:
changeDataset(test_data)

In [ ]:
test_data['Survived_1_year'] = clf.predict(test_data)
test_data.head()

,ID_Patient_Care_Situation,Diagnosed_Condition,Patient_Age,Patient_Body_Mass_Index,Patient_Smoker,Patient_Rural_Urban,A,B,C,D,E,F,Z,dx1,dx2,dx3,dx4,dx5,dx6,Survived_1_year
0,3717,45,35,23.775226,yes,RURAL,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1
1,9298,18,47,18.404252,yes,RURAL,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0,0,0,0,0,1
2,17917,29,64,27.828730,no,URBAN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0
3,5626,52,60,25.143488,yes,URBAN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0
4,307,19,9,29.465496,no,URBAN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1

In [ ]:
predictions = pd.DataFrame(data={'Survived_1_year' : test_data['Survived_1_year']}, columns=['Survived_1_year'])
predictions

      Survived_1_year
0                   1
1                   1
2                   0
3                   0
4                   1
...               ...
2503                1
2504                1
2505                1
2506                0
2507                1

[2508 rows x 1 columns]

In [ ]:
predictions.to_csv('TestPredictions.csv', index = False)

In [ ]:
from sklearn.preprocessing import LabelEncoder


new_data = data.dropna()
changeDataset(new_data)
new_train, new_test, new_y_train, new_y_test = train_test_split(new_data.drop('Survived_1_year', axis=1), new_data['Survived_1_year'], test_size=0.15)

lb_make = LabelEncoder()
new_train.loc[:,'Patient_Smoker'] = lb_make.fit_transform(new_train['Patient_Smoker'])
new_train.loc[:,'Patient_Rural_Urban'] = lb_make.fit_transform(new_train['Patient_Rural_Urban'])
new_test.loc[:,'Patient_Smoker'] = lb_make.fit_transform(new_test['Patient_Smoker'])
new_test.loc[:,'Patient_Rural_Urban'] = lb_make.fit_transform(new_test['Patient_Rural_Urban'])

In [ ]:
new_train

,ID_Patient_Care_Situation,Diagnosed_Condition,Patient_Age,Patient_Body_Mass_Index,Patient_Smoker,Patient_Rural_Urban,A,B,C,D,E,F,Z,dx1,dx2,dx3,dx4,dx5,dx6
6416,12175,46,11,17.549268,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
20824,5220,29,12,24.378955,0,1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0,0,0,0,0,0
5130,27021,6,65,21.278433,1,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0,0
9333,7695,45,31,22.699791,0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,0,0
3710,5170,39,36,20.345397,0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11986,16525,13,48,26.761057,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
16187,29959,14,28,21.566355,1,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,0,0
6032,29899,40,19,25.791341,0,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,0,0
2789,16498,8,24,17.829732,1,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
12861,28863,8,5,26.793840,0,0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0,0,0,0,0,0

In [ ]:
from sklearn.svm import SVC

In [ ]:
svm_classifier = SVC()
svm_classifier.fit(new_train, new_y_train)

print('train accuracy: ', accuracy_score(svm_classifier.predict(new_train), new_y_train))
print('test accuracy: ', accuracy_score(svm_classifier.predict(new_test), new_y_test))

train accuracy:  0.625110229276896
test accuracy:  0.6269122697471121

In [ ]:
from sklearn.model_selection import GridSearchCV

param_grid = {'C': list(np.linspace(1, 1000, 10)),
              'gamma': [0.3, 0.1, 0.03, 0.01],
              'kernel': ['rbf', 'poly', 'linear']}
grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3)
grid.fit(new_train, new_y_train)

Fitting 5 folds for each of 120 candidates, totalling 600 fits
[CV 1/5] END ......C=1.0, gamma=0.3, kernel=rbf;, score=0.659 total time=  57.0s
[CV 2/5] END ......C=1.0, gamma=0.3, kernel=rbf;, score=0.658 total time= 1.1min
[CV 3/5] END ......C=1.0, gamma=0.3, kernel=rbf;, score=0.655 total time= 1.1min
[CV 4/5] END ......C=1.0, gamma=0.3, kernel=rbf;, score=0.661 total time=  58.3s
[CV 5/5] END ......C=1.0, gamma=0.3, kernel=rbf;, score=0.656 total time= 1.1min

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dtc = DecisionTreeClassifier()
dtc.fit(new_train, new_y_train)

print('train accuracy: ', accuracy_score(dtc.predict(new_train), new_y_train))
print('test accuracy: ', accuracy_score(dtc.predict(new_test), new_y_test))

train accuracy:  1.0
test accuracy:  0.732126131751483