<a href="https://colab.research.google.com/github/tigrannh/Data-Science-ML-projects/blob/main/Numpy_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1. Create a 3x5 numpy array filled with random numbers from 1 to 10.

#### 1. Ստեղծեք 1-ից 10 պատահական թվերով լցված (3, 5) չափերով numpy array։

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (1.22.2)

WARNING: You are using pip version 21.3.1; however, version 22.0.3 is available.
You should consider upgrading via the 'C:\Users\lenovo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [ ]:
import numpy as np

In [ ]:
np.random.randint(1,11,(3,5))

array([[ 2,  5,  4,  2, 10],
       [ 1,  1,  9,  3,  2],
       [ 2,  6,  7,  6,  6]])

#### 2. Create a numpy array of size 10 filled with 0s and replace its 5th value with a 3.

#### 2. Ստեղծեք 10 չափի 0-ներով լցված numpy array ու փոխարինեք դրա 5-րդ արժեքը 3 թվով։

In [ ]:
a = np.zeros(10, dtype=int)
a[4] = 3
a

array([0, 0, 0, 0, 3, 0, 0, 0, 0, 0])

#### 3. Create a numpy array filled with numbers from 3 to 15 i.e. ([3, 4 … 13, 14])

#### 3. Ստեղծեք 3-ից 15 թվերից բաղկացած numpy array ([3, 4 … 13, 14])

In [ ]:
np.arange(3,16)

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

#### 4. Reshape a numpy array of size 6x0 [1, 3, 5, 2, 4, 5] into an array of size 3x2 and then 2x3 without changing the original numpy array.  

#### 4. Վերածեք 6x0 [1, 3, 5, 2, 4, 5] numpy array-ը սկզբում 3x2 այնուհետև 2x3 numpy array-ների առանց սկզբնական numpy array-ը փոփոխելու։

In [ ]:
a = np.array([1, 3, 5, 2, 4, 5])
print(a.reshape(3,2))
print(a.reshape(2,3))

[[1 3]
 [5 2]
 [4 5]]
[[1 3 5]
 [2 4 5]]

#### 5. Write a function which gets a numpy array as an input and divides all of the array values by 2 over and over again, until the mean of the array numbers is <=5. Then, once the mean of the array numbers is <=5, the funtion returns the modified numpy array. 

#### 5. Գրեք ֆունկցիա, որը ստանում է numpy array ու բաժանում է դրա բոլոր արժեքները 2-ի այնքան ժամանակ մինչև որ դրանց միջին արժեքը լինի <=5։ Այնուհետև, հենց միջին արժեքը դառնում է <=5, ֆունկցիան վերադարձնում է փոփոխված numpy array-ը։

In [ ]:
def divideUntilMeanLess(arr: np.ndarray) -> np.ndarray:
    if type(arr) is np.ndarray:
        while np.mean(arr) > 5:
            arr = np.divide(arr,2)
        return arr
    else:
        raise TypeError("Function argument must be numpy array")
    
divideUntilMeanLess(np.array([4,7,8,4,6]))

array([2. , 3.5, 4. , 2. , 3. ])

#### 6. Write a function which gets a 5x4 numpy array filled with random numbers from 1 to 10 as an input and returns 4 different numpy arrays which are the columns of the original numpy array. Write another similar function which returns 5 different numpy arrays which are rows of the original numpy array. 

#### 6. Գրեք ֆունկցիա, որը ստանում է 1-ից 10 պատահական թվերով լցված 5x4 numpy array ու վերադարձնում է 4 տարբեր numpy array-ներ, որոնք սկզբնական numpy array-ի սյուներն են։ Գրեք նմանատիպ ֆունկցիա, որը վերադարձնում է 5 տարբեր numpy array-ներ, որոնք սկզբնական numpy array-ի տողերն են։

In [ ]:
def columns(arr: np.ndarray):
    assert(type(arr) is np.ndarray)
    assert(arr.shape == (5,4))
    assert(np.amin(arr) >= 1 and np.amax(arr) <= 10)
    return [arr[:,i] for i in range(4)]
  
def rows(arr: np.ndarray):
    assert(type(arr) is np.ndarray)
    assert(arr.shape == (5,4))
    assert(np.amin(arr) >= 1 and np.amax(arr) <= 10)
    return [arr[i,:] for i in range(5)]

arr = np.random.randint(1,11,(5,4))
print(arr,'\n')
print(columns(arr), rows(arr), sep='\n\n')

[[10  2  2  6]
 [ 5  4  1  3]
 [ 6  4  5  8]
 [ 3  5 10  2]
 [ 4  4  3  6]]

[array([10,  5,  6,  3,  4]), array([2, 4, 4, 5, 4]), array([ 2,  1,  5, 10,  3]), array([6, 3, 8, 2, 6])]

[array([10,  2,  2,  6]), array([5, 4, 1, 3]), array([6, 4, 5, 8]), array([ 3,  5, 10,  2]), array([4, 4, 3, 6])]

#### 7. Multiply a 5x3 numpy array by a 3x2 numpy array containing random integer values with some fixed seed. 

#### 7. Ստեղծեք 5x3 ու 3x2 չափանի numpy array-ներ որոնք պարունակում են պատահական integer տիպի արժեքներ ֆիքսված seed-ով։ Գտեք առաջին և երկրորդ  array-ների արտադրյալը։

In [ ]:
np.random.seed(10)
arr1 = np.random.randint(1,10,(5,3))
arr2 = np.random.randint(1,10,(3,2))
print(arr1, arr2, np.dot(arr1, arr2), sep='\n')

[[5 1 2]
 [1 2 9]
 [1 9 7]
 [5 4 1]
 [5 7 9]]
[[2 9]
 [5 2]
 [4 7]]
[[ 23  61]
 [ 48  76]
 [ 75  76]
 [ 34  60]
 [ 81 122]]

#### 8. Write a program to sort an array of integers of shape 3x3 first along the columns, then along rows and finally flatten the array so that it becomes a one dimentional array of size 9 and sort the flattened array. 

#### 8. Գրեք ծրագիր որը կսորտավորի ձեր ցանկացած թվերով լցված 3x3 չափանի array-ը սկզբում ըստ սյուների, հետո ըստ տողերի, ապա flatten արեք array-ը դարձնելով այն 9 արժեք պարունակող 1 չափանի array ու սորտավորեք այն։

In [ ]:
arr = np.random.randint(1,10,(3,3))
print(arr, '\n\n')
print(np.sort(arr, axis=0), '\n\n')
print(np.sort(arr, axis=1), '\n\n')
print(np.sort(arr.flatten()))

[[9 3 1]
 [7 8 9]
 [2 8 2]]


[[2 3 1]
 [7 8 2]
 [9 8 9]]


[[1 3 9]
 [7 8 9]
 [2 2 8]]


[1 2 2 3 7 8 8 9 9]

#### 9. Create a 7 x 7 numpy array of zeros and then "frame" it with a border of ones. Your result should look like this:

#### 9. Ստեղծեք 7 x 7 չափանի, 0-ներով լցված numpy array։ Ավելացրեք numpy array-ին 1-երից բաղկացած “շրջանակ”։ Վերջնական արդյունքը պետք է ունենա հետևյալ տեսքը՝

![image.png]()

In [ ]:
arr = np.zeros((7,7))
newArr = np.pad(arr, 1, 'constant', constant_values=1)
print(arr, newArr ,sep='\n\n')

[[0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0.]]

[[1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1.]]

#### 10. Create the following numpy arrays and calculate the product between a and b. Transform the second array if needed.

#### Ստեղծեք հետևյալ numpy array-ները ու հաշվեք a և b array-ների արտադրյալը։ Transform արեք երկրորդ array-ը եթե կա դրա կարիքը։

$$a = \begin{bmatrix} 1 & 3 \\ 3 & 13 \\ 0 & -1  \end{bmatrix}$$

$$b = \begin{bmatrix} 1 & 1 \\ 2 & 1 \\ 3 & -3 \end{bmatrix}$$

In [ ]:
a = np.array([[1, 3], [3, 13], [0, -1]])
b = np.array([[1, 1], [2, 1], [3, -3]])
np.dot(a, np.transpose(b))

array([[  4,   5,  -6],
       [ 16,  19, -30],
       [ -1,  -1,   3]])